In [1]:
import pandas as pd
pd.options.mode.chained_assignment = None

# Extract

In [2]:
# Import the NYC Crime dataset csv
NYC_data = pd.read_csv('nyc_crime.csv')
NYC_data

,Unnamed: 0,arrest_key,arrest_date,pd_desc,ofns_desc,law_code,law_cat_cd,age_group,perp_sex,perp_race,latitude,longitude,arrest_boro,arrest_precinct,jurisdiction_code,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih
0,0,192799737,26/01/2019,SEXUAL ABUSE,SEX CRIMES,PL 1306503,F,45-64,M,BLACK,40.800694,-73.941109,M,25,0,7.0,4.0,36.0,16.0
1,1,193260691,6/02/2019,CRIMINAL SALE OF A CONTROLLED SUBSTANCE,CONTROLLED SUBSTANCES OFFENSES,PL 2203400,F,25-44,M,UNKNOWN,40.757839,-73.991212,M,14,0,12.0,4.0,10.0,8.0
2,2,149117452,6/01/2016,RAPE 3,RAPE,PL 1302503,F,25-44,M,BLACK,40.648650,-73.950336,K,67,0,61.0,2.0,11.0,40.0
3,3,190049060,15/11/2018,RAPE 1,RAPE,PL 1303501,F,25-44,M,BLACK,40.674583,-73.930222,K,77,0,16.0,2.0,49.0,49.0
4,4,24288194,13/09/2006,"TRESPASS 3, CRIMINAL",CRIMINAL TRESPASS,PL 140100E,M,45-64,M,BLACK,40.671254,-73.926714,K,77,2,16.0,2.0,49.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,147681591,10/11/2015,"NY STATE LAWS,UNCLASSIFIED FELONY",OTHER STATE LAWS,CPL5702600,F,45-64,M,WHITE HISPANIC,40.714006,-74.002083,M,5,0,56.0,4.0,32.0,2.0
1048571,1048571,147969023,21/11/2015,"MARIJUANA, POSSESSION 4 & 5",DANGEROUS DRUGS,PL 2211001,M,45-64,M,BLACK,40.823290,-73.937978,M,32,0,18.0,4.0,36.0,20.0
1048572,1048572,147900399,18/11/2015,"TRAFFIC,UNCLASSIFIED MISDEMEAN",VEHICLE AND TRAFFIC LAWS,VTL0511001,M,45-64,F,BLACK,40.764705,-73.978093,M,18,0,11.0,4.0,51.0,10.0
1048573,1048573,148166637,30/11/2015,RECKLESS DRIVING,VEHICLE AND TRAFFIC LAWS,VTL1212000,M,25-44,M,WHITE,40.579780,-73.998425,K,60,2,21.0,2.0,45.0,35.0
1048574,1048574,148495339,12/12/2015,"NY STATE LAWS,UNCLASSIFIED MISDEMEANOR",OTHER STATE LAWS (NON PENAL LAW),LOC00000UM,M,25-44,F,BLACK HISPANIC,40.700591,-73.807743,Q,103,1,41.0,3.0,6.0,61.0

In [3]:
# Scrape the NY State crime data
url = 'https://www.disastercenter.com/crime/nycrime.htm'
NY_data = pd.read_html(url)
NY_data

[                                                    0    1    2    3    4   \
 0    New YorkÂ Crime Rates 1960 - 2019  (adsbygoogle...  NaN  NaN  NaN  NaN
 1    New YorkÂ Crime Rates 1960 - 2019  (adsbygoogle...  NaN  NaN  NaN  NaN
 2    New YorkÂ Crime Rates 1960 - 2019  (adsbygoogle...  NaN  NaN  NaN  NaN
 3    (adsbygoogle = window.adsbygoogle || []).push(...  NaN  NaN  NaN  NaN
 4    New York Population and Number of Crimes 1960 ...  NaN  NaN  NaN  NaN
 ..                                                 ...  ...  ...  ...  ...
 211  Since we developed the table of "New York Popu...  NaN  NaN  NaN  NaN
 212                                                NaN  NaN  NaN  NaN  NaN
 213                                                NaN  NaN  NaN  NaN  NaN
 214  New York Law Enforcement Agency Uniform Crime ...  NaN  NaN  NaN  NaN
 215  * United States *Â Alaska* Alabama  * Arkansas ...  NaN  NaN  NaN  NaN

       5    6    7    8    9    10   11   12
 0    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 1    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 2    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 3    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 4    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 ..   ...  ...  ...  ...  ...  ...  ...  ...
 211  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 212  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 213  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 214  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 215  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

 [216 rows x 13 columns],
                                                     0    1    2    3    4   \
 0    New YorkÂ Crime Rates 1960 - 2019  (adsbygoogle...  NaN  NaN  NaN  NaN
 1    New YorkÂ Crime Rates 1960 - 2019  (adsbygoogle...  NaN  NaN  NaN  NaN
 2    (adsbygoogle = window.adsbygoogle || []).push(...  NaN  NaN  NaN  NaN
 3    New York Population and Number of Crimes 1960 ...  NaN  NaN  NaN  NaN
 4    Forcible Aggravated Larceny- Vehicle Year Popu...  NaN  NaN  NaN  NaN
 ..                                                 ...  ...  ...  ...  ...
 210  Since we developed the table of "New York Popu...  NaN  NaN  NaN  NaN
 211                                                NaN  NaN  NaN  NaN  NaN
 212                                                NaN  NaN  NaN  NaN  NaN
 213  New York Law Enforcement Agency Uniform Crime ...  NaN  NaN  NaN  NaN
 214  * United States *Â Alaska* Alabama  * Arkansas ...  NaN  NaN  NaN  NaN

       5    6    7    8    9    10   11   12
 0    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 1    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 2    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 3    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 4    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 ..   ...  ...  ...  ...  ...  ...  ...  ...
 210  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 211  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 212  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 213  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
 214  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

 [215 rows x 13 columns],
                                                    0
 0  New YorkÂ Crime Rates 1960 - 2019  (adsbygoogle...
 1  (adsbygoogle = window.adsbygoogle || []).push(...
 2  New York Population and Number of Crimes 1960 ...,
                                                    0
 0  (adsbygoogle = window.adsbygoogle || []).push(...,
       0           1       2        3         4       5         6        7   \
 0    NaN         NaN     NaN      NaN       NaN     NaN  Forcible      NaN
 1   Year  Population   Index  Violent  Property  Murder      Rape  Robbery
 2   1965    18073000  554050    58802    495248     836      2320    28182
 3   1966    18258000  609465    62561    546904     882      2439    30098
 4   1967    18336000  692528    75124    617404     996      2665    40202
 ..   ...         ...     ...      ...       ...     ...       ...      ...
 62  2015    19747183  392351    75126    317225     613      4414    23879
 63  2016    19745289  379466    74285    305181     630      4569    22316
 64  2017    19590719  364136    70746    293390     550      6297    20122
 65  2018    19530351  350055    68512    281543     562      6577    18191
 66  2019    19453561  336919    69764    267155     558      6583    18068

             8         9         10       11
 0   Aggravated       NaN  Larceny-  Vehicle
 1      assault  Burglary     Theft    Theft
 2        27464    183443    253353    58452
 3        29142    196127    286409    64368
 4        31261    219157    314472    83775
 ..         ...       ...       ...      ...
 62       44493     44117    257837    15271
 63       45079     39821    250968    14392
 64       43777     34928    245093    13369
 65       43182     31158    237243    13142
 66       44555     27600    226851    12704

 [67 rows x 12 columns],
                                                    0  \
 0  (adsbygoogle = window.adsbygoogle || []).push(...
 1  (adsbygoogle = window.adsbygoogle || []).push(...

                                                    1  \
 0                                                NaN
 1  Compiled by the DisasterCenter.com  From: FBI ...

                                                    2
 0                                                NaN
 1  The Uniform Crime Reporting (UCR) Program is t...  ,
                                                    0  \
 0  (adsbygoogle = window.adsbygoogle || []).push(...

                                                    1  \
 0  Compiled by the DisasterCenter.com  From: FBI ...

                                                    2
 0  The Uniform Crime Reporting (UCR) Program is t...  ,
       0           1       2        3         4       5         6        7   \
 0    NaN         NaN     NaN      NaN       NaN     NaN  Forcible      NaN
 1   Year  Population   Index  Violent  Property  Murder      Rape  Robbery
 2   1965    18073000  3065.6    325.4    2740.3     4.6      12.8    155.9
 3   1966    18258000  3338.1    342.6    2995.4     4.8      13.4    164.8
 4   1967    18336000  3776.9    409.7    3367.2     5.4      14.5    219.3
 ..   ...         ...     ...      ...       ...     ...       ...      ...
 62  2015    19747183  1986.8    380.4    1606.4     3.1      22.4    120.9
 63  2016    19745289  1921.8    376.2    1545.6     3.2      23.1    113.0
 64  2017    19590719  1858.7    361.1    1497.6     2.8      32.1    102.7
 65  2018    19530351  1792.4    350.8    1441.6     2.9      33.7     93.1
 66  2019    19453561  1731.9    358.6    1373.3     2.9      33.8     92.9

             8         9         10       11
 0   Aggravated       NaN  Larceny-  Vehicle
 1      assault  Burglary     Theft    Theft
 2        152.0    1015.0    1401.8    323.4
 3        159.6    1074.2    1568.7    352.5
 4        170.5    1195.2    1715.1    456.9
 ..         ...       ...       ...      ...
 62       225.3     223.4    1305.7     77.3
 63       228.3     201.7    1271.0     72.9
 64       223.5     178.3    1251.1     68.2
 65       221.1     159.5    1214.7     67.3
 66       229.0     141.9    1166.1     65.3

 [67 rows x 12 columns],
                                                    0  \
 0  DisasterCenter.com developed the following tab...

                                                    1  \
 0  (adsbygoogle = window.adsbygoogle || []).push(...

                                                    2
 0  TheÂ crime "Index" is made up of the total numb...  ,
           0     1           2      3        4         5       6     7   \
 0      State  Year  Population  Index  Violent  Property  Murder  Rape
 1   New York  1963          50     50       50        50      50    50
 2   New York  1964          50     50       50        50      50    50
 3   New York  1965           2      7        1         8      23    13
 4   New York  1966           2      7        2         9      24    15
 ..       ...   ...         ...    ...      ...       ...     ...   ...
 57  New York  2013           3     47       19        50      31    49
 58  New York  2014           4     47       19        49      31    44
 59  New York  2015           4     45       23        49      36    42
 60  New York  2016           4     46       24        48      34    44
 61     State  Year  Population  Index  Violent  Property  Murder  Rape

          8        9         10       11       12
 0   Robbery  Assault  Burglary  Larceny  Vehicle
 1        50       50        50       50       50
 2        50       50        50       50       50
 3         2        5         2       18        8
 4         2        7         3       17       10
 ..      ...      ...       ...      ...      ...
 57        4       20        50       45       47
 58        8       23        50       46       47
 59        5       25        50       46       47
 60       12       27        50       46       47
 61  Robbery  Assault  Burglary  Larceny  Vehicle

 [62 rows x 13 columns],
                                                    0
 0  Rate Per 100,000 and Rank by State of Crime by...]

# Transform

### NYC Crime Data

In [4]:
# Create a dataframe of  only the required columns and sort my arrest year
NYC_table = NYC_data[['arrest_key', 'arrest_date', 'ofns_desc', 'age_group', 'perp_sex', 'perp_race', 'arrest_boro', 'arrest_precinct']]
NYC_table.sort_values('arrest_date', inplace=True)
NYC_table

,arrest_key,arrest_date,ofns_desc,age_group,perp_sex,perp_race,arrest_boro,arrest_precinct
491196,9930168,1/01/2006,OTHER OFFENSES RELATED TO THEFT,25-44,F,WHITE HISPANIC,M,33
495487,9930100,1/01/2006,ROBBERY,18-24,M,BLACK,M,23
488100,9929917,1/01/2006,ASSAULT 3 & RELATED OFFENSES,45-64,M,WHITE HISPANIC,K,75
486839,9929886,1/01/2006,GRAND LARCENY,25-44,M,BLACK,B,40
492258,9930046,1/01/2006,ASSAULT 3 & RELATED OFFENSES,25-44,M,BLACK,K,67
...,...,...,...,...,...,...,...,...
151047,206220268,9/12/2019,GRAND LARCENY,45-64,M,BLACK,B,46
151060,206220256,9/12/2019,MISCELLANEOUS PENAL LAW,25-44,M,WHITE HISPANIC,B,44
151177,206220296,9/12/2019,VEHICLE AND TRAFFIC LAWS,45-64,M,WHITE HISPANIC,K,71
152746,206220325,9/12/2019,FELONY ASSAULT,45-64,M,WHITE HISPANIC,K,76
22660,206240739,9/12/2019,FELONY ASSAULT,25-44,M,BLACK,K,84

### NY State Crime Data

In [5]:
# The required table is the 4th item in the NY_data list
NY_table = pd.DataFrame(NY_data[4])
NY_table

,0,1,2,3,4,5,6,7,8,9,10,11
0,NaN,NaN,NaN,NaN,NaN,NaN,Forcible,NaN,Aggravated,NaN,Larceny-,Vehicle
1,Year,Population,Index,Violent,Property,Murder,Rape,Robbery,assault,Burglary,Theft,Theft
2,1965,18073000,554050,58802,495248,836,2320,28182,27464,183443,253353,58452
3,1966,18258000,609465,62561,546904,882,2439,30098,29142,196127,286409,64368
4,1967,18336000,692528,75124,617404,996,2665,40202,31261,219157,314472,83775
...,...,...,...,...,...,...,...,...,...,...,...,...
62,2015,19747183,392351,75126,317225,613,4414,23879,44493,44117,257837,15271
63,2016,19745289,379466,74285,305181,630,4569,22316,45079,39821,250968,14392
64,2017,19590719,364136,70746,293390,550,6297,20122,43777,34928,245093,13369
65,2018,19530351,350055,68512,281543,562,6577,18191,43182,31158,237243,13142
66,2019,19453561,336919,69764,267155,558,6583,18068,44555,27600,226851,12704

In [6]:
# Formattig of column headers
NY_table = NY_table[1:]               # Remove first row
new_headers = NY_table.iloc[0]        # Save the column names 
NY_table = NY_table[1:]               # Remove the names from the first row
NY_table.columns = new_headers        # Set the column headers 
NY_table.rename(columns={NY_table.columns[8]: "Assault",
                         NY_table.columns[10]: "Theft - Larceny", 
                         NY_table.columns[11]: "Theft - Vehicle" }, inplace = True)
NY_table

1,Year,Population,Index,Violent,Property,Murder,Rape,Robbery,Assault,Burglary,Theft - Vehicle,Theft - Vehicle
2,1965,18073000,554050,58802,495248,836,2320,28182,27464,183443,253353,58452
3,1966,18258000,609465,62561,546904,882,2439,30098,29142,196127,286409,64368
4,1967,18336000,692528,75124,617404,996,2665,40202,31261,219157,314472,83775
5,1968,18113000,829453,98515,730938,1185,2527,59857,34946,250918,375143,104877
6,1969,18321000,837210,105870,731340,1324,2902,64754,36890,248477,367463,115400
...,...,...,...,...,...,...,...,...,...,...,...,...
62,2015,19747183,392351,75126,317225,613,4414,23879,44493,44117,257837,15271
63,2016,19745289,379466,74285,305181,630,4569,22316,45079,39821,250968,14392
64,2017,19590719,364136,70746,293390,550,6297,20122,43777,34928,245093,13369
65,2018,19530351,350055,68512,281543,562,6577,18191,43182,31158,237243,13142
66,2019,19453561,336919,69764,267155,558,6583,18068,44555,27600,226851,12704

In [8]:
# Table has the headers repeated within the table body which need to be removed 
NY_table.head(30)

1,Year,Population,Index,Violent,Property,Murder,Rape,Robbery,Assault,Burglary,Theft - Vehicle,Theft - Vehicle
2,1965,18073000,554050,58802,495248,836,2320,28182,27464,183443,253353,58452
3,1966,18258000,609465,62561,546904,882,2439,30098,29142,196127,286409,64368
4,1967,18336000,692528,75124,617404,996,2665,40202,31261,219157,314472,83775
5,1968,18113000,829453,98515,730938,1185,2527,59857,34946,250918,375143,104877
6,1969,18321000,837210,105870,731340,1324,2902,64754,36890,248477,367463,115400
7,NaN,NaN,NaN,NaN,NaN,NaN,Forcible,NaN,Aggravated,NaN,Larceny-,Vehicle
8,Year,Population,Index,Violent,Property,Murder,Rape,Robbery,assault,Burglary,Theft,Theft
9,1970,18190740,904314,124613,779701,1444,2875,81149,39145,267474,386553,125674
10,1971,18391000,935022,145048,789974,1823,3225,97682,42318,273704,388612,127658
11,1972,18366000,804605,138542,666063,2026,4199,86391,45926,239886,321096,105081
12,1973,18265000,814349,135468,678881,2040,4852,80795,47781,246246,320307,112328
13,1974,18111000,911703,145427,766276,1919,5240,86814,51454,271824,390357,104095
14,1975,18120000,1021197,155187,866010,1996,5099,93499,54593,301996,447740,116274
15,1976,18084000,1125739,156988,968751,1969,4663,95718,54638,318919,516328,133504
16,1977,17924000,1091144,149087,942057,1919,5272,84703,57193,309735,498653,133669
17,1978,17748000,1027993,149257,878736,1820,5168,83785,58484,292956,466516,119264
18,1979,17649000,1095140,161906,933234,2092,5394,93471,60949,308302,500589,124343
19,NaN,NaN,NaN,NaN,NaN,NaN,Forcible,NaN,Aggravated,NaN,Larceny-,Vehicle
20,Year,Population,Index,Violent,Property,Murder,Rape,Robbery,assault,Burglary,Theft,Theft
21,1980,17506690,1209984,180235,1029749,2228,5405,112273,60329,360925,535783,133041
22,1981,17594000,1214935,188178,1026757,2166,5479,120344,60189,350422,539486,136849
23,1982,17659000,1142202,174833,967369,2013,5159,107843,59818,295245,534244,137880
24,1983,17667000,1042811,161489,881322,1958,5296,94783,59452,249115,504346,127861
25,1984,17735000,989126,162157,826969,1786,5599,89900,64872,222956,488621,115392
26,1985,17783000,993811,165365,828446,1683,5706,89706,68270,219633,502276,106537
27,1986,17772000,1025037,175210,849827,1907,5415,91360,76528,217010,519570,113247
28,1987,17825000,1061021,179691,881330,2016,5537,89721,82417,216826,539175,125329
29,1988,17898000,1129241,196396,932845,2244,5479,97434,91239,218060,560887,153898
30,1989,17950000,1129638,203042,926596,2246,5242,103983,91571,211130,544459,171007
31,NaN,NaN,NaN,NaN,NaN,NaN,Forcible,NaN,Aggravated,NaN,Larceny-,Vehicle

In [9]:
# Convert to numeric to remove the numeric values from the table
NY_table = NY_table.apply(pd.to_numeric, errors = 'coerce').dropna()
NY_table = NY_table.astype(int)
NY_table.head(30)

1,Year,Population,Index,Violent,Property,Murder,Rape,Robbery,Assault,Burglary,Theft - Vehicle,Theft - Vehicle
2,1965,18073000,554050,58802,495248,836,2320,28182,27464,183443,253353,58452
3,1966,18258000,609465,62561,546904,882,2439,30098,29142,196127,286409,64368
4,1967,18336000,692528,75124,617404,996,2665,40202,31261,219157,314472,83775
5,1968,18113000,829453,98515,730938,1185,2527,59857,34946,250918,375143,104877
6,1969,18321000,837210,105870,731340,1324,2902,64754,36890,248477,367463,115400
9,1970,18190740,904314,124613,779701,1444,2875,81149,39145,267474,386553,125674
10,1971,18391000,935022,145048,789974,1823,3225,97682,42318,273704,388612,127658
11,1972,18366000,804605,138542,666063,2026,4199,86391,45926,239886,321096,105081
12,1973,18265000,814349,135468,678881,2040,4852,80795,47781,246246,320307,112328
13,1974,18111000,911703,145427,766276,1919,5240,86814,51454,271824,390357,104095
14,1975,18120000,1021197,155187,866010,1996,5099,93499,54593,301996,447740,116274
15,1976,18084000,1125739,156988,968751,1969,4663,95718,54638,318919,516328,133504
16,1977,17924000,1091144,149087,942057,1919,5272,84703,57193,309735,498653,133669
17,1978,17748000,1027993,149257,878736,1820,5168,83785,58484,292956,466516,119264
18,1979,17649000,1095140,161906,933234,2092,5394,93471,60949,308302,500589,124343
21,1980,17506690,1209984,180235,1029749,2228,5405,112273,60329,360925,535783,133041
22,1981,17594000,1214935,188178,1026757,2166,5479,120344,60189,350422,539486,136849
23,1982,17659000,1142202,174833,967369,2013,5159,107843,59818,295245,534244,137880
24,1983,17667000,1042811,161489,881322,1958,5296,94783,59452,249115,504346,127861
25,1984,17735000,989126,162157,826969,1786,5599,89900,64872,222956,488621,115392
26,1985,17783000,993811,165365,828446,1683,5706,89706,68270,219633,502276,106537
27,1986,17772000,1025037,175210,849827,1907,5415,91360,76528,217010,519570,113247
28,1987,17825000,1061021,179691,881330,2016,5537,89721,82417,216826,539175,125329
29,1988,17898000,1129241,196396,932845,2244,5479,97434,91239,218060,560887,153898
30,1989,17950000,1129638,203042,926596,2246,5242,103983,91571,211130,544459,171007
33,1990,17990455,1144874,212458,932416,2605,5368,112380,92105,208813,536012,187591
34,1991,18058000,1127651,210184,917467,2571,5085,112342,90186,204499,531681,181287
35,1992,18119000,1061489,203311,858178,2397,5152,108154,87608,193548,495708,168922
36,1993,18197000,1010176,195352,814824,2420,5008,102122,85802,181709,481166,151949
37,1994,18169000,921278,175433,745845,2016,4700,86617,82100,164650,452322,128873

In [10]:
# Keep just the 2006-2019 date (same as NYC data)
NY_table = NY_table[NY_table['Year'] >= 2006]

# Reformat the table index
NY_table = NY_table.rename_axis(None, axis=1)
NY_table = NY_table.reset_index()
NY_table.drop('index', axis=1, inplace=True)
NY_table

,Year,Population,Index,Violent,Property,Murder,Rape,Robbery,Assault,Burglary,Theft - Vehicle,Theft - Vehicle
0,2006,19306183,482270,83966,396304,921,3169,34489,45387,68565,295605,32134
1,2007,19297729,461731,79915,381816,801,2926,31094,45094,64857,288929,28030
2,2008,19467789,466131,77546,388585,836,2799,31789,42122,65537,297952,25096
3,2009,19541453,452647,75110,377537,781,2582,28141,43606,62769,292897,21871
4,2010,19395206,456202,76492,379710,868,2797,28630,44197,65839,293232,20639
5,2011,19501616,449300,77463,371837,769,2751,28405,45538,65227,287361,19249
6,2012,19576125,454803,79535,375268,683,2837,28633,47382,64389,293562,17317
7,2013,19695680,436166,77563,358603,644,2575,27241,46130,56444,286676,15483
8,2014,19748858,415085,75972,339113,616,4316,24036,45295,50738,272624,15751
9,2015,19747183,392351,75126,317225,613,4414,23879,44493,44117,257837,15271
10,2016,19745289,379466,74285,305181,630,4569,22316,45079,39821,250968,14392
11,2017,19590719,364136,70746,293390,550,6297,20122,43777,34928,245093,13369
12,2018,19530351,350055,68512,281543,562,6577,18191,43182,31158,237243,13142
13,2019,19453561,336919,69764,267155,558,6583,18068,44555,27600,226851,12704

# Load