# NYC Youth Crime 

#### Created by Dale Currigan and Amin Ali

[Extract](#extract)    
[Transform](#transform)  
[Load](#load)

In [4]:
# Import libraries
import pandas as pd
pd.options.mode.chained_assignment = None

from sqlalchemy import create_engine

from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

from config import username, password

In [5]:
# Set-up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 91.0.4472
Get LATEST driver version for 91.0.4472
Driver [C:\Users\User\.wdm\drivers\chromedriver\win32\91.0.4472.19\chromedriver.exe] found in cache

<a id='extract'></a>
# Extract

### NYC Crime Data

In [6]:
## IMPORT THE NYC CRIME DATASET CSV

crime_data = pd.read_csv('nyc_crime.csv')
crime_data

,Unnamed: 0,arrest_key,arrest_date,pd_desc,ofns_desc,law_code,law_cat_cd,age_group,perp_sex,perp_race,latitude,longitude,arrest_boro,arrest_precinct,jurisdiction_code,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih
0,0,192799737,26/01/2019,SEXUAL ABUSE,SEX CRIMES,PL 1306503,F,45-64,M,BLACK,40.800694,-73.941109,M,25,0,7.0,4.0,36.0,16.0
1,1,193260691,6/02/2019,CRIMINAL SALE OF A CONTROLLED SUBSTANCE,CONTROLLED SUBSTANCES OFFENSES,PL 2203400,F,25-44,M,UNKNOWN,40.757839,-73.991212,M,14,0,12.0,4.0,10.0,8.0
2,2,149117452,6/01/2016,RAPE 3,RAPE,PL 1302503,F,25-44,M,BLACK,40.648650,-73.950336,K,67,0,61.0,2.0,11.0,40.0
3,3,190049060,15/11/2018,RAPE 1,RAPE,PL 1303501,F,25-44,M,BLACK,40.674583,-73.930222,K,77,0,16.0,2.0,49.0,49.0
4,4,24288194,13/09/2006,"TRESPASS 3, CRIMINAL",CRIMINAL TRESPASS,PL 140100E,M,45-64,M,BLACK,40.671254,-73.926714,K,77,2,16.0,2.0,49.0,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,1048570,147681591,10/11/2015,"NY STATE LAWS,UNCLASSIFIED FELONY",OTHER STATE LAWS,CPL5702600,F,45-64,M,WHITE HISPANIC,40.714006,-74.002083,M,5,0,56.0,4.0,32.0,2.0
1048571,1048571,147969023,21/11/2015,"MARIJUANA, POSSESSION 4 & 5",DANGEROUS DRUGS,PL 2211001,M,45-64,M,BLACK,40.823290,-73.937978,M,32,0,18.0,4.0,36.0,20.0
1048572,1048572,147900399,18/11/2015,"TRAFFIC,UNCLASSIFIED MISDEMEAN",VEHICLE AND TRAFFIC LAWS,VTL0511001,M,45-64,F,BLACK,40.764705,-73.978093,M,18,0,11.0,4.0,51.0,10.0
1048573,1048573,148166637,30/11/2015,RECKLESS DRIVING,VEHICLE AND TRAFFIC LAWS,VTL1212000,M,25-44,M,WHITE,40.579780,-73.998425,K,60,2,21.0,2.0,45.0,35.0
1048574,1048574,148495339,12/12/2015,"NY STATE LAWS,UNCLASSIFIED MISDEMEANOR",OTHER STATE LAWS (NON PENAL LAW),LOC00000UM,M,25-44,F,BLACK HISPANIC,40.700591,-73.807743,Q,103,1,41.0,3.0,6.0,61.0

### Education Spending Data

In [7]:
## WEB SCRAPE THE EDUCATION SPENDING TABLE ##

# Visit the New York Federal Reserve Bank Website
url = "https://www.newyorkfed.org/data-and-statistics/data-visualization/nyc-school-spending"
browser.visit(url)

# Instruct browser to click on the the 'COMPARATIVE VIEW' tab
browser.links.find_by_partial_text('Comparative view').click()

In [8]:
# Scrape the data
html = browser.html
soup = bs(html, 'html.parser')

# Access the div with the interactive table 
results = soup.find('div', {'id' : 'interactive-table'})
results

<div class="grid_12 no-margin-left no-margin-right" id="interactive-table"><div><table class="backgrid stack-table"><thead><tr><th class="renderable label">NYC District</th><th class="sortable renderable"><a class="grand_total"><span class="label">School<br/>Spending<br/>per Student</span></a></th><th class="sortable renderable grand_total"><a>$<b class="sort-caret"></b></a></th><th class="sortable renderable"><a class="classroom"><span class="label">Instructional<br/>spending</span></a></th><th class="sortable renderable classroom"><a>$<b class="sort-caret"></b></a></th><th class="sortable renderable"><a class="support"><span class="label">Instructional<br/>support<br/>services</span></a></th><th class="sortable renderable support"><a>$<b class="sort-caret"></b></a></th><th class="sortable renderable"><a class="leadership"><span class="label">Leadership<br/>support<br/>services</span></a></th><th class="sortable renderable leadership"><a>$<b class="sort-caret"></b></a></th><th class="sortable renderable"><a class="ancillary"><span class="label">Ancillary<br/>support<br/>services</span></a></th><th class="sortable renderable ancillary"><a>$<b class="sort-caret"></b></a></th><th class="sortable renderable"><a class="building"><span class="label">Building<br/>services</span></a></th><th class="sortable renderable building"><a>$<b class="sort-caret"></b></a></th></tr></thead><tbody><tr class="header-row"><td class="string-cell renderable">NYC</td><td class="sortable renderable"><div class="stack-bar" style="width: 94.5081px;"></div></td><td class="integer-cell sortable renderable">18.62</td><td class="sortable renderable"><div class="stack-bar" style="width: 97.2164px;"></div></td><td class="integer-cell sortable renderable">9.14</td><td class="sortable renderable"><div class="stack-bar" style="width: 83.242px;"></div></td><td class="integer-cell sortable renderable">2.79</td><td class="sortable renderable"><div class="stack-bar" style="width: 49.7299px;"></div></td><td class="integer-cell sortable renderable">1.66</td><td class="sortable renderable"><div class="stack-bar" style="width: 50.7144px;"></div></td><td class="integer-cell sortable renderable">1.70</td><td class="sortable renderable"><div class="stack-bar" style="width: 39.5931px;"></div></td><td class="integer-cell sortable renderable">1.33</td></tr><tr class="header-row"><td class="string-cell renderable">Bronx</td><td class="sortable renderable"><div class="stack-bar" style="width: 92.559px;"></div></td><td class="integer-cell sortable renderable">18.24</td><td class="sortable renderable"><div class="stack-bar" style="width: 94.7858px;"></div></td><td class="integer-cell sortable renderable">8.92</td><td class="sortable renderable"><div class="stack-bar" style="width: 77.642px;"></div></td><td class="integer-cell sortable renderable">2.60</td><td class="sortable renderable"><div class="stack-bar" style="width: 55.69px;"></div></td><td class="integer-cell sortable renderable">1.86</td><td class="sortable renderable"><div class="stack-bar" style="width: 47.1274px;"></div></td><td class="integer-cell sortable renderable">1.58</td><td class="sortable renderable"><div class="stack-bar" style="width: 38.1189px;"></div></td><td class="integer-cell sortable renderable">1.28</td></tr><tr><td class="string-cell renderable">District 7 (BX)</td><td class="sortable renderable"><div class="stack-bar" style="width: 99.3583px;"></div></td><td class="integer-cell sortable renderable">19.58</td><td class="sortable renderable"><div class="stack-bar" style="width: 100px;"></div></td><td class="integer-cell sortable renderable">9.41</td><td class="sortable renderable"><div class="stack-bar" style="width: 94.9322px;"></div></td><td class="integer-cell sortable renderable">3.18</td><td class="sortable renderable"><div class="stack-bar" style="width: 60.6241px;"></div></td><td class="integer-cell sortable renderable">2.03</td><td class="sortable renderable"><div class="stack-bar" style="width: 46.6368px;"></div></td><td class="integer-cell sortable renderable">1.56</td><td class="sortable renderable"><div class="stack-bar" style="width: 41.2171px;"></div></td><td class="integer-cell sortable renderable">1.38</td></tr><tr><td class="string-cell renderable">District 8 (BX)</td><td class="sortable renderable"><div class="stack-bar" style="width: 92.4278px;"></div></td><td class="integer-cell sortable renderable">18.21</td><td class="sortable renderable"><div class="stack-bar" style="width: 95.6354px;"></div></td><td class="integer-cell sortable renderable">8.99</td><td class="sortable renderable"><div class="stack-bar" style="width: 78.5643px;"></div></td><td class="integer-cell sortable renderable">2.63</td><td class="sortable renderable"><div class="stack-bar" style="width: 55.1015px;"></div></td><td class="integer-cell sortable renderable">1.84</td><td class="sortable renderable"><div class="stack-bar" style="width: 45.3935px;"></div></td><td class="integer-cell sortable renderable">1.52</td><td class="sortable renderable"><div class="stack-bar" style="width: 35.68px;"></div></td><td class="integer-cell sortable renderable">1.19</td></tr><tr><td class="string-cell renderable">District 9 (BX)</td><td class="sortable renderable"><div class="stack-bar" style="width: 94.7622px;"></div></td><td class="integer-cell sortable renderable">18.67</td><td class="sortable renderable"><div class="stack-bar" style="width: 97.4199px;"></div></td><td class="integer-cell sortable renderable">9.16</td><td class="sortable renderable"><div class="stack-bar" style="width: 73.9841px;"></div></td><td class="integer-cell sortable renderable">2.48</td><td class="sortable renderable"><div class="stack-bar" style="width: 60.8251px;"></div></td><td class="integer-cell sortable renderable">2.04</td><td class="sortable renderable"><div class="stack-bar" style="width: 51.1389px;"></div></td><td class="integer-cell sortable renderable">1.71</td><td class="sortable renderable"><div class="stack-bar" style="width: 37.996px;"></div></td><td class="integer-cell sortable renderable">1.27</td></tr><tr><td class="string-cell renderable">District 10 (BX)</td><td class="sortable renderable"><div class="stack-bar" style="width: 88.745px;"></div></td><td class="integer-cell sortable renderable">17.49</td><td class="sortable renderable"><div class="stack-bar" style="width: 91.2706px;"></div></td><td class="integer-cell sortable renderable">8.58</td><td class="sortable renderable"><div class="stack-bar" style="width: 73.1353px;"></div></td><td class="integer-cell sortable renderable">2.45</td><td class="sortable renderable"><div class="stack-bar" style="width: 51.5441px;"></div></td><td class="integer-cell sortable renderable">1.73</td><td class="sortable renderable"><div class="stack-bar" style="width: 42.5821px;"></div></td><td class="integer-cell sortable renderable">1.43</td><td class="sortable renderable"><div class="stack-bar" style="width: 39.3333px;"></div></td><td class="integer-cell sortable renderable">1.32</td></tr><tr><td class="string-cell renderable">District 11 (BX)</td><td class="sortable renderable"><div class="stack-bar" style="width: 90.1457px;"></div></td><td class="integer-cell sortable renderable">17.76</td><td class="sortable renderable"><div class="stack-bar" style="width: 91.4735px;"></div></td><td class="integer-cell sortable renderable">8.60</td><td class="sortable renderable"><div class="stack-bar" style="width: 75.48px;"></div></td><td class="integer-cell sortable renderable">2.53</td><td class="sortable renderable"><div class="stack-bar" style="width: 52.61px;"></div></td><td class="integer-cell sortable renderable">1.76</td><td class="sortable renderable"><div class="stack-bar" style="width: 49.7124px;"></div></td><td class="integer-cell sortable renderable">1.66</td><td class="sortable renderable"><div class="stack-bar" style="width: 36.2585px;"></div></td><td class="integer-cell sortable renderable">1.21</td></tr><tr><td class="string-cell renderable">District 12 (BX)</td><td class="sortable renderable"><div class="stack-bar" style="width: 96.9519px;"></div></td><td class="integer-cell sortable renderable">19.10</td><td class="sortable renderable"><div class="stack-bar" style="width: 99.3099px;"></div></td><td class="integer-cell sortable renderable">9.34</td><td class="sortable renderable"><div class="stack-bar" style="width: 81.7567px;"></div></td><td class="integer-cell sortable renderable">2.74</td><td class="sortable renderable"><div class="stack-bar" style="width: 59.8188px;"></div></td><td class="integer-cell sortable renderable">2.00</td><td class="sortable renderable"><div class="stack-bar" style="width: 50.7384px;"></div></td><td class="integer-cell sortable renderable">1.70</td><td class="sortable renderable"><div class="stack-bar" style="width: 39.0104px;"></div></td><td class="integer-cell sortable renderable">1.31</td></tr><tr class="header-row"><td class="string-cell renderable">Brooklyn</td><td class="sortable renderable"><div class="stack-bar" style="width: 86.7331px;"></div></td><td class="integer-cell sortable renderable">17.09</td><td class="sortable renderable"><div class="stack-bar" style="width: 90.0142px;"></div></td><td class="integer-cell sortable renderable">8.47</td><td class="sortable renderable"><div class="stack-bar" style="width: 73.2126px;"></div></td><td class="integer-cell sortable renderable">2.45</td><td class="sortable renderable"><div class="stack-bar" style="width: 46.0023px;"></div></td><td class="integer-cell sortable renderable">1.54</td><td class="sortable renderable"><div class="stack-bar" style="width: 41.0799px;"></div></td><td class="integer-cell sortable renderable">1.38</td><td class="sortable renderable"><div class="stack-bar" style="width: 38.5375px;"></div></td><td class="integer-cell sortable renderable">1.29</td></tr><tr><td class="string-cell renderable">District 13 (BKLYN)</td><td class="sortable renderable"><div class="stack-bar" style="width: 84.7728px;"></div></td><td class="integer-cell sortable renderable">16.70</td><td class="sortable renderable"><div class="stack-bar" style="width: 87.0514px;"></div></td><td class="integer-cell sortable renderable">8.19</td><td class="sortable renderable"><div class="stack-bar" style="width: 59.8301px;"></div></td><td class="integer-cell sortable renderable">2.00</td><td class="sortable renderable"><div class="stack-bar" style="width: 51.8399px;"></div></td><td class="integer-cell sortable renderable">1.74</td><td class="sortable renderable"><div class="stack-bar" style="width: 37.8939px;"></div></td><td class="integer-cell sortable renderable">1.27</td><td class="sortable renderable"><div class="stack-bar" style="width: 45.2342px;"></div></td><td class="integer-cell sortable renderable">1.51</td></tr><tr><td class="string-cell renderable">District 14 (BKLYN)</td><td class="sortable renderable"><div class="stack-bar" style="width: 91.3211px;"></div></td><td class="integer-cell sortable renderable">17.99</td><td class="sortable renderable"><div class="stack-bar" style="width: 93.3699px;"></div></td><td class="integer-cell sortable renderable">8.78</td><td class="sortable renderable"><div class="stack-bar" style="width: 75.6214px;"></div></td><td class="integer-cell sortable renderable">2.53</td><td class="sortable renderable"><div class="stack-bar" style="width: 52.1636px;"></div></td><td class="integer-cell sortable renderable">1.75</td><td class="sortable renderable"><div class="stack-bar" style="width: 41.5131px;"></div></td><td class="integer-cell sortable renderable">1.39</td><td class="sortable renderable"><div class="stack-bar" style="width: 46.5468px;"></div></td><td class="integer-cell sortable renderable">1.56</td></tr><tr><td class="string-cell renderable">District 15 (BKLYN)</td><td class="sortable renderable"><div class="stack-bar" style="width: 87.1299px;"></div></td><td class="integer-cell sortable renderable">17.17</td><td class="sortable renderable"><div class="stack-bar" style="width: 91.7987px;"></div></td><td class="integer-cell sortable renderable">8.63</td><td class="sortable renderable"><div class="stack-bar" style="width: 82.0068px;"></div></td><td class="integer-cell sortable renderable">2.75</td><td class="sortable renderable"><div class="stack-bar" style="width: 43.3781px;"></div></td><td class="integer-cell sortable renderable">1.45</td><td class="sortable renderable"><div class="stack-bar" style="width: 37.1448px;"></div></td><td class="integer-cell sortable renderable">1.24</td><td class="sortable renderable"><div class="stack-bar" style="width: 33.6538px;"></div></td><td class="integer-cell sortable renderable">1.13</td></tr><tr><td class="string-cell renderable">District 16 (BKLYN)</td><td class="sortable renderable"><div class="stack-bar" style="width: 100px;"></div></td><td class="integer-cell sortable renderable">19.70</td><td class="sortable renderable"><div class="stack-bar" style="width: 99.5508px;"></div></td><td class="integer-cell sortable renderable">9.36</td><td class="sortable renderable"><div class="stack-bar" style="width: 96.9898px;"></div></td><td class="integer-cell sortable renderable">3.25</td><td class="sortable renderable"><div class="stack-bar" style="width: 59.1928px;"></div></td><td class="integer-cell sortable renderable">1.98</td><td class="sortable renderable"><div class="stack-bar" style="width: 48.2669px;"></div></td><td class="integer-cell sortable renderable">1.62</td><td class="sortable renderable"><div class="stack-bar" style="width: 45.2869px;"></div></td><td class="integer-cell sortable renderable">1.52</td></tr><tr><td class="string-cell renderable">District 17 (BKLYN)</td><td class="sortable renderable"><div class="stack-bar" style="width: 90.2579px;"></div></td><td class="integer-cell sortable renderable">17.79</td><td class="sortable renderable"><div class="stack-bar" style="width: 92.8279px;"></div></td><td class="integer-cell sortable renderable">8.73</td><td class="sortable renderable"><div class="stack-bar" style="width: 77.7785px;"></div></td><td class="integer-cell sortable renderable">2.60</td><td class="sortable renderable"><div class="stack-bar" style="width: 49.8895px;"></div></td><td class="integer-cell sortable renderable">1.67</td><td class="sortable renderable"><div class="stack-bar" style="width: 40.6915px;"></div></td><td class="integer-cell sortable renderable">1.36</td><td class="sortable renderable"><div class="stack-bar" style="width: 42.7853px;"></div></td><td class="integer-cell sortable renderable">1.43</td></tr><tr><td class="string-cell renderable">District 18 (BKLYN)</td><td class="sortable renderable"><div class="stack-bar" style="width: 90.0317px;"></div></td><td class="integer-cell sortable renderable">17.74</td><td class="sortable renderable"><div class="stack-bar" style="width: 91.2797px;"></div></td><td class="integer-cell sortable renderable">8.59</td><td class="sortable renderable"><div class="stack-bar" style="width: 81.4288px;"></div></td><td class="integer-cell sortable renderable">2.73</td><td class="sortable renderable"><div class="stack-bar" style="width: 45.49px;"></div></td><td class="integer-cell sortable renderable">1.52</td><td class="sortable renderable"><div class="stack-bar" style="width: 43.7141px;"></div></td><td class="integer-cell sortable renderable">1.46</td><td class="sortable renderable"><div class="stack-bar" style="width: 41.9247px;"></div></td><td class="integer-cell sortable renderable">1.40</td></tr><tr><td class="string-cell renderable">District 19 (BKLYN)</td><td class="sortable renderable"><div class="stack-bar" style="width: 91.0886px;"></div></td><td class="integer-cell sortable renderable">17.95</td><td class="sortable renderable"><div class="stack-bar" style="width: 95.4816px;"></div></td><td class="integer-cell sortable renderable">8.98</td><td class="sortable renderable"><div class="stack-bar" style="width: 67.4755px;"></div></td><td class="integer-cell sortable renderable">2.26</td><td class="sortable renderable"><div class="stack-bar" style="width: 55.3304px;"></div></td><td class="integer-cell sortable renderable">1.85</td><td class="sortable renderable"><div class="stack-bar" style="width: 45.7016px;"></div></td><td class="integer-cell sortable renderable">1.53</td><td class="sortable renderable"><div class="stack-bar" style="width: 39.8127px;"></div></td><td class="integer-cell sortable renderable">1.33</td></tr><tr><td class="string-cell renderable">District 20 (BKLYN)</td><td class="sortable renderable"><div class="stack-bar" style="width: 77.9151px;"></div></td><td class="integer-cell sortable renderable">15.35</td><td class="sortable renderable"><div class="stack-bar" style="width: 83.8584px;"></div></td><td class="integer-cell sortable renderable">7.89</td><td class="sortable renderable"><div class="stack-bar" style="width: 61.3157px;"></div></td><td class="integer-cell sortable renderable">2.05</td><td class="sortable renderable"><div class="stack-bar" style="width: 36.3153px;"></div></td><td class="integer-cell sortable renderable">1.22</td><td class="sortable renderable"><div class="stack-bar" style="width: 39.9433px;"></div></td><td class="integer-cell sortable renderable">1.34</td><td class="sortable renderable"><div class="stack-bar" style="width: 28.4154px;"></div></td><td class="integer-cell sortable renderable">0.95</td></tr><tr><td class="string-cell renderable">District 21 (BKLYN)</td><td class="sortable renderable"><div class="stack-bar" style="width: 84.6607px;"></div></td><td class="integer-cell sortable renderable">16.68</td><td class="sortable renderable"><div class="stack-bar" style="width: 87.7207px;"></div></td><td class="integer-cell sortable renderable">8.25</td><td class="sortable renderable"><div class="stack-bar" style="width: 75.596px;"></div></td><td class="integer-cell sortable renderable">2.53</td><td class="sortable renderable"><div class="stack-bar" style="width: 40.9409px;"></div></td><td class="integer-cell sortable renderable">1.37</td><td class="sortable renderable"><div class="stack-bar" style="width: 40.0148px;"></div></td><td class="integer-cell sortable renderable">1.34</td><td class="sortable renderable"><div class="stack-bar" style="width: 36.3443px;"></div></td><td class="integer-cell sortable renderable">1.22</td></tr><tr><td class="string-cell renderable">District 22 (BKLYN)</td><td class="sortable renderable"><div class="stack-bar" style="width: 82.5959px;"></div></td><td class="integer-cell sortable renderable">16.28</td><td class="sortable renderable"><div class="stack-bar" style="width: 84.9299px;"></div></td><td class="integer-cell sortable renderable">7.99</td><td class="sortable renderable"><div class="stack-bar" style="width: 74.9493px;"></div></td><td class="integer-cell sortable renderable">2.51</td><td class="sortable renderable"><div class="stack-bar" style="width: 37.6767px;"></div></td><td class="integer-cell sortable renderable">1.26</td><td class="sortable renderable"><div class="stack-bar" style="width: 38.6611px;"></div></td><td class="integer-cell sortable renderable">1.29</td><td class="sortable renderable"><div class="stack-bar" style="width: 38.6811px;"></div></td><td class="integer-cell sortable renderable">1.29</td></tr><tr><td class="string-cell renderable">District 23 (BKLYN)</td><td class="sortable renderable"><div class="stack-bar" style="width: 95.2758px;"></div></td><td class="integer-cell sortable renderable">18.77</td><td class="sortable renderable"><div class="stack-bar" style="width: 97.9967px;"></div></td><td class="integer-cell sortable renderable">9.22</td><td class="sortable renderable"><div class="stack-bar" style="width: 79.7602px;"></div></td><td class="integer-cell sortable renderable">2.67</td><td class="sortable renderable"><div class="stack-bar" style="width: 53.8905px;"></div></td><td class="integer-cell sortable renderable">1.80</td><td class="sortable rend

In [9]:
# Convert the html to table with Pandas read_html
schools_data = pd.read_html(str(results))
schools_data

[           NYC District  SchoolSpendingper Student      $  \
 0                   NYC                        NaN  18.62
 1                 Bronx                        NaN  18.24
 2       District 7 (BX)                        NaN  19.58
 3       District 8 (BX)                        NaN  18.21
 4       District 9 (BX)                        NaN  18.67
 5      District 10 (BX)                        NaN  17.49
 6      District 11 (BX)                        NaN  17.76
 7      District 12 (BX)                        NaN  19.10
 8              Brooklyn                        NaN  17.09
 9   District 13 (BKLYN)                        NaN  16.70
 10  District 14 (BKLYN)                        NaN  17.99
 11  District 15 (BKLYN)                        NaN  17.17
 12  District 16 (BKLYN)                        NaN  19.70
 13  District 17 (BKLYN)                        NaN  17.79
 14  District 18 (BKLYN)                        NaN  17.74
 15  District 19 (BKLYN)                        NaN  17.95
 16  District 20 (BKLYN)                        NaN  15.35
 17  District 21 (BKLYN)                        NaN  16.68
 18  District 22 (BKLYN)                        NaN  16.28
 19  District 23 (BKLYN)                        NaN  18.77
 20  District 32 (BKLYN)                        NaN  17.97
 21            Manhattan                        NaN  17.91
 22    District 1 (MHTN)                        NaN  18.20
 23    District 2 (MHTN)                        NaN  17.22
 24    District 3 (MHTN)                        NaN  17.68
 25    District 4 (MHTN)                        NaN  19.49
 26    District 5 (MHTN)                        NaN  18.81
 27    District 6 (MHTN)                        NaN  18.27
 28               Queens                        NaN  15.91
 29    District 24 (QNS)                        NaN  15.58
 30    District 25 (QNS)                        NaN  15.87
 31    District 26 (QNS)                        NaN  14.87
 32    District 27 (QNS)                        NaN  16.30
 33    District 28 (QNS)                        NaN  15.79
 34    District 29 (QNS)                        NaN  16.50
 35    District 30 (QNS)                        NaN  16.45
 36        Staten Island                        NaN  17.35
 37     District 31 (SI)                        NaN  17.35

     Instructionalspending   $.1  Instructionalsupportservices   $.2  \
 0                     NaN  9.14                           NaN  2.79
 1                     NaN  8.92                           NaN  2.60
 2                     NaN  9.41                           NaN  3.18
 3                     NaN  8.99                           NaN  2.63
 4                     NaN  9.16                           NaN  2.48
 5                     NaN  8.58                           NaN  2.45
 6                     NaN  8.60                           NaN  2.53
 7                     NaN  9.34                           NaN  2.74
 8                     NaN  8.47                           NaN  2.45
 9                     NaN  8.19                           NaN  2.00
 10                    NaN  8.78                           NaN  2.53
 11                    NaN  8.63                           NaN  2.75
 12                    NaN  9.36                           NaN  3.25
 13                    NaN  8.73                           NaN  2.60
 14                    NaN  8.59                           NaN  2.73
 15                    NaN  8.98                           NaN  2.26
 16                    NaN  7.89                           NaN  2.05
 17                    NaN  8.25                           NaN  2.53
 18                    NaN  7.99                           NaN  2.51
 19                    NaN  9.22                           NaN  2.67
 20                    NaN  8.89                           NaN  2.39
 21                    NaN  8.69                           NaN  2.55
 22                    NaN  9.03                           NaN  3.10
 23                    NaN  8.18                           NaN  2.26
 24                    NaN  8.55                           NaN  2.58
 25                    NaN  9.37                           NaN  3.35
 26                    NaN  9.30                           NaN  2.62
 27                    NaN  9.15                           NaN  2.49
 28                    NaN  8.01                           NaN  1.97
 29                    NaN  7.98                           NaN  1.82
 30                    NaN  8.01                           NaN  1.93
 31                    NaN  7.13                           NaN  2.07
 32                    NaN  8.21                           NaN  2.05
 33                    NaN  7.95                           NaN  1.93
 34                    NaN  8.24                           NaN  1.93
 35                    NaN  8.38                           NaN  2.10
 36                    NaN  8.02                           NaN  3.05
 37                    NaN  8.02                           NaN  3.05

     Leadershipsupportservices   $.3  Ancillarysupportservices   $.4  \
 0                         NaN  1.66                       NaN  1.70
 1                         NaN  1.86                       NaN  1.58
 2                         NaN  2.03                       NaN  1.56
 3                         NaN  1.84                       NaN  1.52
 4                         NaN  2.04                       NaN  1.71
 5                         NaN  1.73                       NaN  1.43
 6                         NaN  1.76                       NaN  1.66
 7                         NaN  2.00                       NaN  1.70
 8                         NaN  1.54                       NaN  1.38
 9                         NaN  1.74                       NaN  1.27
 10                        NaN  1.75                       NaN  1.39
 11                        NaN  1.45                       NaN  1.24
 12                        NaN  1.98                       NaN  1.62
 13                        NaN  1.67                       NaN  1.36
 14                        NaN  1.52                       NaN  1.46
 15                        NaN  1.85                       NaN  1.53
 16                        NaN  1.22                       NaN  1.34
 17                        NaN  1.37                       NaN  1.34
 18                        NaN  1.26                       NaN  1.29
 19                        NaN  1.80                       NaN  1.64
 20                        NaN  1.93                       NaN  1.45
 21                        NaN  1.78                       NaN  1.23
 22                        NaN  1.65                       NaN  1.36
 23                        NaN  1.71                       NaN  1.01
 24                        NaN  1.75                       NaN  1.20
 25                        NaN  1.77                       NaN  1.55
 26                        NaN  2.08                       NaN  1.45
 27                        NaN  1.87                       NaN  1.43
 28                        NaN  1.37                       NaN  1.47
 29                        NaN  1.32                       NaN  1.45
 30                        NaN  1.34                       NaN  1.52
 31                        NaN  1.28                       NaN  1.31
 32                        NaN  1.44                       NaN  1.47
 33                        NaN  1.40                       NaN  1.39
 34                        NaN  1.50                       NaN  1.65
 35                        NaN  1.36                       NaN  1.51
 36                        NaN  1.25                       NaN  1.89
 37                        NaN  1.25                       NaN  1.89

     Buildingservices   $.5
 0                NaN  1.33
 1                NaN  1.28
 2                NaN  1.38
 3                NaN  1.19
 4                NaN  1.27
 5                NaN  1.32
 6                NaN  1.21
 7                NaN  1.31
 8                NaN  1.29
 9                NaN  1.51
 10               NaN  1.56
 11               NaN  1.13
 12               NaN  1.52
 13               NaN  1.43
 14               NaN  1.40
 15               NaN  1.33
 16               NaN  0.95
 17               NaN  1.22
 18               NaN  1.29
 19               NaN  1.45
 20               NaN  1.33
 21               NaN  1.63
 22               NaN  1.10
 23               NaN  2.00
 24               NaN  1.59
 25               NaN  1.41
 26               NaN  1.38
 27               NaN  1.32
 28               NaN  1.15
 29               NaN  1.12
 30               NaN  1.13
 31               NaN  1.11
 32               NaN  1.15
 33               NaN  1.17
 34               NaN  1.22
 35               NaN  1.16
 36               NaN  1.17
 37               NaN  1.17  ]

<a id='transform'></a>
# Transform

### NYC Crime Data

In [10]:
# Create a dataframe of  only the required columns and sort by arrest date
crime_table = crime_data[['arrest_key', 'arrest_date', 'ofns_desc', 'age_group', 'perp_sex', 'perp_race', 'arrest_boro', 'arrest_precinct']]
crime_table.sort_values('arrest_date', inplace=True)
crime_table

,arrest_key,arrest_date,ofns_desc,age_group,perp_sex,perp_race,arrest_boro,arrest_precinct
491196,9930168,1/01/2006,OTHER OFFENSES RELATED TO THEFT,25-44,F,WHITE HISPANIC,M,33
495487,9930100,1/01/2006,ROBBERY,18-24,M,BLACK,M,23
488100,9929917,1/01/2006,ASSAULT 3 & RELATED OFFENSES,45-64,M,WHITE HISPANIC,K,75
486839,9929886,1/01/2006,GRAND LARCENY,25-44,M,BLACK,B,40
492258,9930046,1/01/2006,ASSAULT 3 & RELATED OFFENSES,25-44,M,BLACK,K,67
...,...,...,...,...,...,...,...,...
151047,206220268,9/12/2019,GRAND LARCENY,45-64,M,BLACK,B,46
151060,206220256,9/12/2019,MISCELLANEOUS PENAL LAW,25-44,M,WHITE HISPANIC,B,44
151177,206220296,9/12/2019,VEHICLE AND TRAFFIC LAWS,45-64,M,WHITE HISPANIC,K,71
152746,206220325,9/12/2019,FELONY ASSAULT,45-64,M,WHITE HISPANIC,K,76
22660,206240739,9/12/2019,FELONY ASSAULT,25-44,M,BLACK,K,84

In [11]:
# Keep only the <18y.o Crime data
crime_table = crime_table[crime_table['age_group'] == '<18']
crime_table

,arrest_key,arrest_date,ofns_desc,age_group,perp_sex,perp_race,arrest_boro,arrest_precinct
486810,9933259,1/01/2006,DANGEROUS WEAPONS,<18,M,WHITE HISPANIC,Q,106
490904,9930191,1/01/2006,POSSESSION OF STOLEN PROPERTY 5,<18,M,BLACK,M,26
491692,9930086,1/01/2006,FELONY ASSAULT,<18,M,WHITE HISPANIC,M,30
495614,9930313,1/01/2006,CRIMINAL MISCHIEF & RELATED OFFENSES,<18,M,WHITE HISPANIC,Q,114
490345,9930121,1/01/2006,MISCELLANEOUS PENAL LAW,<18,M,BLACK HISPANIC,M,32
...,...,...,...,...,...,...,...,...
156119,206220304,9/12/2019,ROBBERY,<18,M,BLACK,K,61
156510,206224243,9/12/2019,ARSON,<18,M,BLACK,K,88
152580,206220339,9/12/2019,DANGEROUS DRUGS,<18,M,BLACK HISPANIC,M,20
149822,206220343,9/12/2019,ROBBERY,<18,F,BLACK,M,6
150406,206246552,9/12/2019,SEX CRIMES,<18,M,BLACK,K,77

In [12]:
# Drop the now redundant 'age_group' column
crime_table = crime_table.drop('age_group', axis=1).reset_index(drop=True)
crime_table.head(10)

,arrest_key,arrest_date,ofns_desc,perp_sex,perp_race,arrest_boro,arrest_precinct
0,9933259,1/01/2006,DANGEROUS WEAPONS,M,WHITE HISPANIC,Q,106
1,9930191,1/01/2006,POSSESSION OF STOLEN PROPERTY 5,M,BLACK,M,26
2,9930086,1/01/2006,FELONY ASSAULT,M,WHITE HISPANIC,M,30
3,9930313,1/01/2006,CRIMINAL MISCHIEF & RELATED OFFENSES,M,WHITE HISPANIC,Q,114
4,9930121,1/01/2006,MISCELLANEOUS PENAL LAW,M,BLACK HISPANIC,M,32
5,9930316,1/01/2006,CRIMINAL MISCHIEF & RELATED OFFENSES,M,WHITE HISPANIC,Q,114
6,9930188,1/01/2006,ASSAULT 3 & RELATED OFFENSES,M,WHITE HISPANIC,M,19
7,9929940,1/01/2006,DANGEROUS WEAPONS,M,BLACK,K,67
8,9929916,1/01/2006,DANGEROUS WEAPONS,M,BLACK,K,79
9,9929807,1/01/2006,DANGEROUS DRUGS,M,WHITE HISPANIC,B,46

### Education Spending Data

In [13]:
# Convert the data to a dataframe
schools_table = pd.DataFrame(schools_data[0])
schools_table.head(10)

,NYC District,SchoolSpendingper Student,$,Instructionalspending,$.1,Instructionalsupportservices,$.2,Leadershipsupportservices,$.3,Ancillarysupportservices,$.4,Buildingservices,$.5
0,NYC,NaN,18.62,NaN,9.14,NaN,2.79,NaN,1.66,NaN,1.70,NaN,1.33
1,Bronx,NaN,18.24,NaN,8.92,NaN,2.60,NaN,1.86,NaN,1.58,NaN,1.28
2,District 7 (BX),NaN,19.58,NaN,9.41,NaN,3.18,NaN,2.03,NaN,1.56,NaN,1.38
3,District 8 (BX),NaN,18.21,NaN,8.99,NaN,2.63,NaN,1.84,NaN,1.52,NaN,1.19
4,District 9 (BX),NaN,18.67,NaN,9.16,NaN,2.48,NaN,2.04,NaN,1.71,NaN,1.27
5,District 10 (BX),NaN,17.49,NaN,8.58,NaN,2.45,NaN,1.73,NaN,1.43,NaN,1.32
6,District 11 (BX),NaN,17.76,NaN,8.60,NaN,2.53,NaN,1.76,NaN,1.66,NaN,1.21
7,District 12 (BX),NaN,19.10,NaN,9.34,NaN,2.74,NaN,2.00,NaN,1.70,NaN,1.31
8,Brooklyn,NaN,17.09,NaN,8.47,NaN,2.45,NaN,1.54,NaN,1.38,NaN,1.29
9,District 13 (BKLYN),NaN,16.70,NaN,8.19,NaN,2.00,NaN,1.74,NaN,1.27,NaN,1.51

In [14]:
# Rename the table headers and drop NaN values
schools_table.rename(columns={'NYC District': 'nyc_district',
                              '$': 'school_spending',
                              '$.1': 'instructional_spending',
                              '$.2': 'instructional_support_services',
                              '$.3': 'leadership_support_services',
                              '$.4': 'ancillary_support_services',
                              '$.5': 'building_services'}, inplace=True)

schools_table.dropna(inplace=True, axis=1)
schools_table.head(10)

,nyc_district,school_spending,instructional_spending,instructional_support_services,leadership_support_services,ancillary_support_services,building_services
0,NYC,18.62,9.14,2.79,1.66,1.70,1.33
1,Bronx,18.24,8.92,2.60,1.86,1.58,1.28
2,District 7 (BX),19.58,9.41,3.18,2.03,1.56,1.38
3,District 8 (BX),18.21,8.99,2.63,1.84,1.52,1.19
4,District 9 (BX),18.67,9.16,2.48,2.04,1.71,1.27
5,District 10 (BX),17.49,8.58,2.45,1.73,1.43,1.32
6,District 11 (BX),17.76,8.60,2.53,1.76,1.66,1.21
7,District 12 (BX),19.10,9.34,2.74,2.00,1.70,1.31
8,Brooklyn,17.09,8.47,2.45,1.54,1.38,1.29
9,District 13 (BKLYN),16.70,8.19,2.00,1.74,1.27,1.51

In [15]:
# Select only the summarised means for each borough 
schools_table = schools_table.set_index('nyc_district')

schools_table = schools_table.loc[['Bronx', 'Brooklyn', 'Manhattan', 'Staten Island', 'Queens'],:]
schools_table

,school_spending,instructional_spending,instructional_support_services,leadership_support_services,ancillary_support_services,building_services
nyc_district,,,,,,
Bronx,18.24,8.92,2.60,1.86,1.58,1.28
Brooklyn,17.09,8.47,2.45,1.54,1.38,1.29
Manhattan,17.91,8.69,2.55,1.78,1.23,1.63
Staten Island,17.35,8.02,3.05,1.25,1.89,1.17
Queens,15.91,8.01,1.97,1.37,1.47,1.15

In [16]:
## Rename borough values to match those in the crime_table (to allow joins)

# Bronx = B
# Brooklyn = K
# Manhattan = M
# Staten Island = S
# Queens = Q

schools_table.rename(index={'Bronx': 'B', 'Brooklyn': 'K', 'Manhattan': 'M', 
                            'Staten Island': 'S', 'Queens': 'Q'},
                     inplace=True)
schools_table = schools_table.reset_index()
schools_table

,nyc_district,school_spending,instructional_spending,instructional_support_services,leadership_support_services,ancillary_support_services,building_services
0,B,18.24,8.92,2.60,1.86,1.58,1.28
1,K,17.09,8.47,2.45,1.54,1.38,1.29
2,M,17.91,8.69,2.55,1.78,1.23,1.63
3,S,17.35,8.02,3.05,1.25,1.89,1.17
4,Q,15.91,8.01,1.97,1.37,1.47,1.15

<a id='load'></a>
# Load

In [35]:
# Establish connection to the youth_crime database
connection_string = "postgres:postgres@localhost:5432/youth_crime_db"
engine = create_engine(f'postgresql://{username}:{password}@localhost:5432/youth_crime_db')

In [39]:
# Add the data to the schools_table
# Note: must be added before crime_table data as crime_table 
# has a foreign key that references this tables data

schools_table.to_sql(name='schools_table', con=engine, if_exists='append', index=False)

In [40]:
# Add the data to the crime_table
crime_table.to_sql(name='crime_table', con=engine, if_exists='append', index=False)

In [44]:
# Run a query to check the data has been added to the crime_table
pd.read_sql_query('select * from crime_table', con=engine).head()

,arrest_key,arrest_date,ofns_desc,perp_sex,perp_race,arrest_boro,arrest_precinct
0,9933259,1/01/2006,DANGEROUS WEAPONS,M,WHITE HISPANIC,Q,106
1,9930191,1/01/2006,POSSESSION OF STOLEN PROPERTY 5,M,BLACK,M,26
2,9930086,1/01/2006,FELONY ASSAULT,M,WHITE HISPANIC,M,30
3,9930313,1/01/2006,CRIMINAL MISCHIEF & RELATED OFFENSES,M,WHITE HISPANIC,Q,114
4,9930121,1/01/2006,MISCELLANEOUS PENAL LAW,M,BLACK HISPANIC,M,32

In [42]:
# Run a query to check the data has been added to the schools_table
pd.read_sql_query('select * from schools_table', con=engine).head()

,nyc_district,school_spending,instructional_spending,instructional_support_services,leadership_support_services,ancillary_support_services,building_services
0,B,18.24,8.92,2.60,1.86,1.58,1.28
1,K,17.09,8.47,2.45,1.54,1.38,1.29
2,M,17.91,8.69,2.55,1.78,1.23,1.63
3,S,17.35,8.02,3.05,1.25,1.89,1.17
4,Q,15.91,8.01,1.97,1.37,1.47,1.15